<%
  var menuList = '';
%>

<nav class="menu">
  <div class="menu-container">
    <div class="menu-close">
      <i class="iconfont iconbaseline-close-px"></i>
    </div>
    <ul class="menu-content"><%- menuList %></ul>
    <% if (theme.copyright) { %>
      <div class="menu-copyright"><%- theme.copyright %></div>
    <% } %>
  </div>
</nav>